header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#highscoreBtn {
    display: inline;
}

.timer {
    display: inline;
}
/* Colors all list items */
li {
    background-color: purple;
    color: white;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}

#questionText{
    font-size: larger;
}
/* Hides these pages until they are called */
#resultsPage, #highscorePage, #correct, #incorrect{
    display: none;
}
/* Alligns everything but lists in the center */
.container {
    text-align: center;
}
/* Alligns lists in the center */
#choices, #highScoresList {
    display: inline-block;
}

#welcomeScreen p {
    padding: 25px;
}