header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.highscoreBtn {
    display: inline;
}

.timer {
    display: inline;
}

li {
    background-color: purple;
    color: white;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}

#questionText{
    font-size: larger;
}

#resultsPage{
    display: none;
}