header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.highscoreBtn {
    display: inline;
}

.timer {
    display: inline;
}

li {
    background-color: aqua;
    width: fit-content;
    margin: 10px;
}